<h3>Questions</h3>

<ol>
<% existing_questions.each do |question| %>
  <li class="question">
    <%= display_question(question) %>
  </li>
    <ul>
      <% question.options.each do |option| %>
        <li><%= option.body %></li>
      <% end %> <!-- options.each -->
    </ul>
<% end %> <!-- survey.each -->
</ol>
