<h2>Existing Questions</h2>

<ol>
<% questions.each do |question| %>
  <li class="question"><%= display_question(question) %></li>
    <ul>
      <% question.options.each do |option| %>
        <li><%= option.body %></li>
      <% end %> <!-- options.each -->
    </ul>
<% end %> <!-- survey.each -->
</ol>
