<div class="right">
  <%= link_to 'New Survey', new_admin_survey_path, class: button_classes %>
</div> <!-- right -->
<h1>Surveys</h1>

<table class="<%= table_classes %>">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= link_to survey.title, admin_survey_path(survey) %></td>
        <td><%= survey.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
