.form-phases {
  text-align: center;
} /* .form-phases */

.required {
  color: red;
} /* .required */

.multi {
  font-size: 0.75em;
  margin-left: 10px;
} /* .multi */

li.question {
  margin-top: 15px;
} /* li.question */
