body {
  font-size: 0.85em;
  line-height: 1.25em;
}


h1 {text-align: center;}

.brand {
  font-weight: bold;
  img {
    width: 30px;
  } /* img */
} /* .brand */


nav.site-nav {
  background-color: #f1f1f1;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
} /* nav.site-nav */

.right {
  float: right;
} /* .right */


form {
  label {
    font-weight: bold;
  }

  input[type=text], textarea {
    display: block;
    margin-bottom: 10px;
  }

  input[type=submit] {
    margin: 20px 0px;
  }
}
